@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Kanit:ital,wght@1,300&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Alfa+Slab+One&family=Kanit:ital,wght@1,300&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
  /* font-family: "Kanit", sans-serif;
  font-family: "Titillium Web", sans-serif; */
  font-weight: bold;
}

@font-face {
  font-family: Olympus;
  src: url("OLYMRG.TTF");
}

.bodyBackground {
  background-color: blue;
}

.homeContainer {
  height: 600px;
  margin: 0 150px 0 150px;
  /* background-color: rgba(30, 139, 195, 0.3); */
  background-image: linear-gradient(
    to bottom,
    rgba(199, 154, 17, 0.8),
    rgba(199, 154, 17, 0.8) 40%,
    rgba(255, 255, 255, 0.8) 60%,
    rgba(255, 255, 255, 0.8)
  );
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 1000;
}
.aboutContainer {
  height: 1500px;
  margin: 0 150px 0 150px;
  /* background-color: rgba(30, 139, 195, 0.3); */
  background-image: linear-gradient(
    to top,
    white,
    white 10%,
    rgba(30, 139, 195, 0.8) 90%,
    rgba(30, 139, 195, 0.8)
  );
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contactContainer {
  height: 700px;
  margin: 0 150px 0 150px;
  /* background-color: rgba(30, 139, 195, 0.3); */
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8) 10%,
    rgba(30, 139, 195, 0.8) 90%,
    rgba(30, 139, 195, 0.8)
  );
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contactName {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.nameAndEmail {
  display: flex;
  justify-content: space-between;
}

.contactDescription {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.innerHomeContainer {
  padding: 50px 50px 50px 50px;
  z-index: 1000;
}

.innerAboutContainer {
  padding: 25px 50px 50px 50px;
}

.innerContactContainer {
  padding: 25px 15px 50px 15px;
}

.nftImage {
  width: 450px;
  height: 300px;
}

.nameNav {
  width: 100px;
  height: 100px;
}

.frontEndText {
  color: rgba(14, 96, 219, 0.639);
  font-weight: bold;
}

.backEndText {
  color: rgba(0, 0, 0, 0.707);
  font-weight: bold;
}

.everpayTitle {
  font-weight: bold;
  color: rgba(4, 19, 85, 0.824);
  font-size: 33px;
}

.serviceList {
  font-size: 20px;
}

.transparentVotingTitle {
  font-weight: bold;
  color: rgba(94, 91, 102, 0.824);
  font-size: 20px;
}

.nameList {
  list-style: none;
}

.homeTopFlex {
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.homeName {
  font-size: 65px;
  font-family: Olympus;
}

.aboutName {
  font-size: 45px;
}

.serviceName {
  font-size: 55px;
  color: rgba(4, 19, 85, 0.824);
}

.homeOccupation {
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
}

.homeBotFlex {
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.contactBot {
  padding: 0 200px 0 200px;
}

.homeBotLeft {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 15px;
  z-index: 1000;
}

.homeBotLeft p {
  margin-right: 40px;
}

.homeBotRight {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  z-index: 1000;
}

.homeBotRightLeftList {
  list-style: none;
  font-weight: bold;
  z-index: 1000;
}

.homeBotRightRightList {
  list-style: none;
  color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.buttonLiveDemo {
  margin-right: 7px;
}

.invisText {
  color: rgba(255, 255, 255, 0);
}

.baaPic {
  width: 550px;
  border-radius: 15%;
}

.red {
  font-weight: bold;
}

.beauText {
  font-weight: bold;
}

.longText {
  font-weight: bold;
}

@media (max-width: 1060px) {
  .homeContainerSmaller {
    margin: 0 50px 0 50px;
  }
}

@media (max-width: 860px) {
  .homeContainerSmaller {
    margin: 0 0px 0 0px;
  }
}

@media (max-width: 500px) {
  .homeTopFlexIphone {
    display: flex;
    flex-direction: column;
  }

  .homeContainerSmaller {
    margin: 0 25px 0 25px;
  }

  .invisText {
    color: rgba(255, 255, 255, 0);
  }

  .nameAndEmail {
    display: flex;
    flex-direction: column;
  }

  .everpayTitle {
    font-weight: bold;
    color: rgba(4, 19, 85, 0.824);
    font-size: 20px;
    text-align: center;
  }

  .serviceList {
    font-size: 12px;
    text-align: center;
    list-style: none;
    margin-right: 23px;
  }

  .baaPic {
    width: 220px;
  }

  .serviceContainer {
    height: 400px;
  }

  .homeNameIphone {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
  }

  .homeNameOccupationIphone {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .nftImageIphone {
    width: 250px;
    height: 180px;
    align-self: center;
  }

  .homeContainer {
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8) 40%,
      rgba(199, 154, 17, 0.8) 60%,
      rgba(199, 154, 17, 0.8)
    );
    height: 930px;
  }

  .aboutContainer {
    height: 1900px;
  }

  .contactContainer {
    height: 1250px;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8) 10%,
      rgba(30, 139, 195, 0.8) 90%,
      rgba(30, 139, 195, 0.8)
    );
  }

  .contactName {
    margin-bottom: 20px;
  }

  .homeBotFlex {
    display: flex;
    flex-direction: column;
  }

  .homeBotLeft {
    width: 100%;
    text-align: center;
    margin: 15px 15px 15px 15px;
  }

  .homeBotRight {
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }

  .homeBotRightLeftList {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    list-style: none;
  }

  .homeBotRightRightList {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    list-style: none;
  }

  .homeBotRightLeftList li {
    margin-right: 20px;
  }

  .homeBotRightRightList li {
    margin-right: 25px;
    font-size: 10px;
  }

  .aboutName {
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .aboutTop {
    display: block;
  }

  .homeDescription {
    text-align: center;
    margin-top: 15px;
  }

  .nameList {
    padding-left: 0px;
  }

  .contactBot {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 377px) {
  .contactContainer {
    height: 1250px;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8) 10%,
      rgba(30, 139, 195, 0.8) 90%,
      rgba(30, 139, 195, 0.8)
    );
  }

  .aboutContainer {
    height: 2400px;
  }

  .invisText {
    color: rgba(255, 255, 255, 0);
  }

  .baaPic {
    width: 190px;
  }

  .homeContainer {
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8) 40%,
      rgba(199, 154, 17, 0.8) 60%,
      rgba(199, 154, 17, 0.8)
    );
    height: 1050px;
  }

  .homeNameIphone {
    font-size: 32px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
  }

  .homeNameOccupationIphone {
    font-size: 17px;
    margin-top: 0px;
  }
}

@media (max-width: 1450px) {
  .baaPic {
    width: 500px;
  }
}

@media (max-width: 1300px) {
  .baaPic {
    width: 400px;
  }
}

@media (max-width: 1150px) {
  .baaPic {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 950px) {
  .baaPic {
    width: 250px;
  }
}

@media (max-width: 850px) {
  .baaPic {
    width: 200px;
  }
}
