.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 20px;
}

.nav li {
  margin-right: 50px;
  color: black;
  list-style-type: none;
  font-size: 18px;
  border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav li a.current {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.5);
}

.nav li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.listFlex {
  display: flex;
}
.nameNav {
}

.hercPic {
  width: 80px;
  height: 40px;
}

@media (max-width: 1000px) {
  .navSmaller {
    margin: 20px 50px 0 50px;
  }
}

@media (max-width: 415px) {
  .nav li {
    margin-right: 10px;
    font-size: 14px;
    border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
  }
}
